<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriviaMania | Welcome</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div>
        <!-- start webpage content  -->
<!-- include navbar -->
<%- include('partials/nav') %>
<!-- end menu section  -->

<!--start banner section  -->
<div class="banner">
    <video autoplay loop muted>
        <source src="video/video2.mp4" type="video/mp4" />
    </video>
    <div class="banner-info">
        <h3>All The Quizes</h3>
        <p>
            Check Out All Our Quizes Below.
        </p>
    </div>
</div>

<!--end banner section  -->
<br><br>


<!-- end about section  -->

<br><br>

<!-- start popular quizes  -->
<div class="container">
    <h2 class="mb-4 quizes-header">All The Quizes</h2>
    <p class="font-weight-light">
        Below are all the quizes offered
    </p>
<br>
    <div id="quizes">

        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Video Games</span>
                </div>

            </div>
 
            <div class="card-content text-center">

                <div class="card-inner-content">
                    <p >
                        This quiz consists of 20 video games questions and you can choose one correct answer from the possible answers provided.
                    </p>
                    <p>
                        <a href="/trivia/games">play quiz</a>
                    </p>
                    
                </div>
               
            </div>
        </div>

        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Science & Nature</span>
                </div>

            </div>
  
            <div class="card-content text-center">
                <div class="card-inner-content">
                   <p> 
                    This quiz consists of 20 science & nature questions and you can choose one correct answer from the possible answers provided.
                   <p>
                        <a href="/trivia/science">play quiz</a>
                    </p>
                    </div>
            </div>
        </div>

        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Computers</span>
                </div>

            </div>
        
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 computers questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/computers">play quiz</a>
                     </p>
                </div>
            </div>
        </div>

        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Mathematics</span>
                </div>

            </div>
         
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 mathematics questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/mathematics">play quiz</a>
                     </p>
                </div>
            </div>
        </div>

        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Mythology</span>
                </div>
            </div>
           
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 mythology questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/mythology">play quiz</a>
                     </p>
                </div>
            </div>
        </div>

        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Sports</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 sports questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/sports">play quiz</a>
                     </p>
                </div>
            </div>
        </div>


        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Geography</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 geography questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/geography">play quiz</a>
                     </p>
                </div>
            </div>
        </div>


        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>History</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 history questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/history">play quiz</a>
                     </p>
                </div>
            </div>
        </div>


        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Politics</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                    This quiz consists of 20 politics questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/politics">play quiz</a>
                     </p>
                </div>
            </div>
        </div>


        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Music</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p>
                        This quiz consists of 20 music questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/music">play quiz</a>
                     </p>
                </div>
            </div>
        </div>



        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Movies</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 movies questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/movies">play quiz</a>
                     </p>
                </div>
            </div>
        </div>



        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>Television</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 television questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/television">play quiz</a>
                     </p>
                </div>
            </div>
        </div>



        <div class="card shadow-lg">
            <div class="card-heading">
                <h4>Trivia Mania</h4>

                <div class="circle shadow-lg">
                    <span>General Knowledge</span>
                </div>

            </div>
            
            <div class="card-content text-center">
                <div class="card-inner-content">
                    <p> 
                        This quiz consists of 20 general knowledge questions and you can choose one correct answer from the possible answers provided.
                    <p>
                         <a href="/trivia/general">play quiz</a>
                     </p>
                </div>
            </div>
        </div>



    </div>

</div>
<!-- end popular quizes  -->
<br><br>
<br><br>

<footer class="container-fluid p-4">
    <h5 class="font-weight-light text-center">Copyright &copy; 
        <script>
            let x = new Date()
            document.write(x.getFullYear() )
        </script>
    </h5>
</footer>



        <!-- end webpage content  -->


    </div>
    
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <!-- <script src="js/custom.js"></script> -->
</body>
</html>