<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Knowlwdge Trivia | Welcome!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="container" id="forgot-password-wrapper">
        <h4 class="mb-4">Enter Email Address To Reset Your Password</h4>
        <form action="/users/forgot-password" method="POST">
            <div class="form-group input-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email Address">
            </div>
            <div>
                <button type="submit" class="btn btn-md">send</button>
            </div>
        </form>
    </div>



    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>

