<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriviaMania | Welcome</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div>
        <!-- start webpage content  -->
<!-- include navbar -->
<%- include('partials/nav') %>
<!-- end menu section  -->

<!--start banner section  -->
<div class="banner">
    <video autoplay loop muted>
        <source src="video/video2.mp4" type="video/mp4" />
    </video>
    <div class="banner-info">
        <h3>TriviaMania leaderboards</h3>
        <p>
            Check Out The Top 3 Leaders For Every Quiz.
        </p>
    </div>
</div>

<!--end banner section  -->
<br><br>


<!-- end about section  -->
<div class="container">

    <div class="row">

        <br>
    <!-- video games -->
    <div class="leading col-sm-6 col-md-4 text-center">
        <h3>Video Games</h3>
        <div class="leader">
            <h5>1. John Murphy</h5>
            <p>Score: 20</p>
        </div>

        <div class="leader">
            <h5>2. Kabelo Kgosana</h5>
            <p>Score: 20</p>
        </div>

        <div class="leader">
            <h5>3. paige Lewis</h5>
            <p>Score: 19</p>
        </div>
    </div>


    <br>

<!-- science and nature  -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Science and Nature</h3>
    <div class="leader">
        <h5>1. John Murphy</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. paul newman</h5>
        <p>Score: 19</p>
    </div>

    <div class="leader">
        <h5>3. kate dunphy</h5>
        <p>Score: 19</p>
    </div>
</div>

<br>

<!-- Computers  -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Computers</h3>
    <div class="leader">
        <h5>1. Jake griffin</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Clark murphy</h5>
        <p>Score: 19</p>
    </div>

    <div class="leader">
        <h5>3. page graham</h5>
        <p>Score: 18</p>
    </div>
</div>

<br>
<!-- Mathematics  -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Mathematics</h3>
    <div class="leader">
        <h5>1. James moagi</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Andrica Mabusela</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. luke dunwoody</h5>
        <p>Score: 19</p>
    </div>
</div>

<br>
<!-- Mythology  -->

<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Mythology</h3>
    <div class="leader">
        <h5>1. Loyd Morulane</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Susan Kgosana</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. Marcus Cane</h5>
        <p>Score: 17</p>
    </div>
</div>



<br>
<!-- sports  -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Sports</h3>
    <div class="leader">
        <h5>1. John Murphy</h5>
        <p>Score: 19</p>
    </div>

    <div class="leader">
        <h5>2. Charles Mathobela</h5>
        <p>Score: 18</p>
    </div>

    <div class="leader">
        <h5>3. Promise Maja</h5>
        <p>Score: 16</p>
    </div>
</div>

<br>
<!-- Geography  -->

<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Geography</h3>
    <div class="leader">
        <h5>1. John goodman</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Tebogo Motibane</h5>
        <p>Score: 18</p>
    </div>

    <div class="leader">
        <h5>3. Happy Mashishi</h5>
        <p>Score: 19</p>
    </div>
</div>


<br>
<!-- History  -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>History</h3>
    <div class="leader">
        <h5>1. Carter Monyeki</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Kabelo Kgosana</h5>
        <p>Score: 19</p>
    </div>

    <div class="leader">
        <h5>3. Jack Johnson</h5>
        <p>Score: 17</p>
    </div>
</div>


<br>
<!-- Politics  -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Politics</h3>
    <div class="leader">
        <h5>1. Brandon Sebelebele</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Gabriel Mabusela</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. Lawrence Zuma</h5>
        <p>Score: 19</p>
    </div>
</div>


<br>
<!-- music -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Music</h3>
    <div class="leader">
        <h5>1. Tumelo Maja</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. William Jones</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. page Lewis</h5>
        <p>Score: 19</p>
    </div>
</div>

<br>
<!-- Movies -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Movies</h3>
    <div class="leader">
        <h5>1. John Murphy</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Maria Lelaka</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. John Sekgobela</h5>
        <p>Score: 19</p>
    </div>
</div>

<br>
<!-- Television -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>Television</h3>
    <div class="leader">
        <h5>1. Isaac James</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Kabelo Kgosana</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. Bella Woods</h5>
        <p>Score: 19</p>
    </div>
</div>


<br>
<!-- General Knowledge -->
<div class="leading col-sm-6 col-md-4 text-center">
    <h3>General Knowledge</h3>
    <div class="leader">
        <h5>1. Sandy Cooper</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>2. Leonard Maile</h5>
        <p>Score: 20</p>
    </div>

    <div class="leader">
        <h5>3. Becky Shaw</h5>
        <p>Score: 19</p>
    </div>
</div>


</div>
</div>
<!-- end popular quizes  -->
<br><br>
<br><br>

<footer class="container-fluid p-4">
    <h5 class="font-weight-light text-center">Copyright &copy; 
        <script>
            let x = new Date()
            document.write(x.getFullYear() )
        </script>
    </h5>
</footer>



        <!-- end webpage content  -->


    </div>
    
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <!-- <script src="js/custom.js"></script> -->
</body>
</html>