<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Knowlwdge Trivia | Welcome!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="css/styles.css">

    <style>
        /* reset password styles  */
        #reset-password-wrapper{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid lightgrey;
            padding: 20px;
        }
        #reset-password-wrapper input[type="password"]{
            width: 90%;
            padding: 10px;
            margin: 5px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            font-size: 18px;
        }

        #reset-password-wrapper input[type="submit"]{
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: red;
            border-radius: 10px;
            border: none;
            outline: none;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.04);
            font-size: 18px;
        }
    </style>

</head>

<body>

    <div class="container" id="reset-password-wrapper">
        <h2 class="mb-4">Enter Email Address To Reset Your Password</h2>
        <form action="/users/reset-password/<%= id %>/<%= token %>" method="POST">
            <div class="form-group input-group">
                <input type="password" name="password" class="form-control" placeholder="Enter Password">
            </div>

            <div class="form-group input-group">
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
            </div>

            <div>
                <input type="submit" value="Reset Password" class="btn btn-md">
            </div>
        </form>
    </div>



    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>

